@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

#testimonials1-11 .mbr-section__header {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
#ext_menu-h .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-h.mbr-navbar--stuck .mbr-navbar__section {
  background: #0e5bb1;
}
#ext_menu-h .mbr-navbar__section {
  background: #0e5bb1;
}
#ext_menu-h .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-h .mbr-brand__name a {
  font-size: 22px;
}
#msg-box4-y .mbr-header__text {
  color: #000000;
}
#msg-box4-y .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-y .mbr-article {
  color: #ffffff;
}
#msg-box4-y .mbr-article P {
  color: #000000;
}
#msg-box4-y .mbr-article UL {
  color: #28324e;
}
#msg-box4-19 .mbr-header__text {
  color: #000000;
}
#msg-box4-19 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-19 .mbr-article {
  color: #ffffff;
}
#msg-box4-19 .mbr-article P {
  color: #000000;
}
#msg-box4-19 .mbr-article UL {
  color: #28324e;
}
#msg-box4-12 .mbr-header__text {
  color: #000000;
}
#msg-box4-12 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-12 .mbr-article {
  color: #ffffff;
}
#msg-box4-12 .mbr-article P {
  color: #000000;
}
#msg-box4-12 .mbr-article UL {
  color: #28324e;
  text-align: left;
}
#msg-box4-18 .mbr-header__text {
  color: #000000;
}
#msg-box4-18 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-18 .mbr-article {
  color: #ffffff;
}
#msg-box4-18 .mbr-article P {
  color: #000000;
}
#msg-box4-18 .mbr-article UL {
  color: #28324e;
}
#msg-box4-16 .mbr-header__text {
  color: #000000;
}
#msg-box4-16 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-16 .mbr-article {
  color: #ffffff;
}
#msg-box4-16 .mbr-article P {
  color: #000000;
}
#msg-box4-16 .mbr-article UL {
  color: #28324e;
}
#msg-box4-1d .mbr-header__text {
  color: #000000;
}
#msg-box4-1d .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1d .mbr-article {
  color: #ffffff;
}
#msg-box4-1d .mbr-article P {
  color: #000000;
}
#msg-box4-1d .mbr-article UL {
  color: #28324e;
}
#features1-1i P {
  text-align: center;
  color: #777777;
}
#features1-1i .mbr-section__col .mbr-header__text DIV {
  color: #c1c1c1;
}
#features1-1i .mbr-section__col .mbr-header__text {
  text-align: center;
}
#features1-1i .mbr-section__col .mbr-header__text SPAN {
  color: #777777;
}
